:root {
  --color-primary: #1a9bd6;
  --color-primary-light: #56CCF2;
  --color-primary-dark: #006B9C;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #4F4F4F;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-drop: 7px 5px 16px rgb(201, 201, 201);
  --font-primary: 'Montserrat', sans-serif;
  --font-display: 'Lobster', cursive; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to bottom, #FBFBFF, #E3E3F2); }

.hr-text {
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px; }

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa; }

.navigation {
  background-color: #fff;
  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 600;
  padding: .8rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__logo {
    height: 5rem;
    width: 5rem; }
  .navigation__menu {
    display: flex;
    list-style: none;
    text-transform: uppercase; }
    .navigation__menu-item {
      transition: all .2s;
      height: 100%; }
      .navigation__menu-item:hover {
        background-color: var(--color-primary-light); }
    .navigation__menu-item:not(:last-child) {
      margin-right: 5rem; }
  .navigation__social {
    display: flex;
    align-items: center;
    list-style: none; }
    .navigation__social-icon {
      height: 2.6rem;
      width: 2.6rem;
      fill: var(--color-grey-dark-2);
      transition: all .2s; }
      .navigation__social-icon:hover {
        fill: var(--color-primary); }
    .navigation__social-icon:not(:last-child) {
      margin-right: 2rem; }

.header {
  text-align: center;
  margin-top: 6rem; }

.skills {
  width: 75%;
  margin: 9rem auto;
  padding: 6rem 8rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--shadow-drop);
  display: flex;
  justify-content: space-between; }
  .skills__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .skills__box-description {
      font-size: 1.6rem;
      margin-top: 1.6rem;
      text-align: center; }
  .skills__box:not(:last-child) {
    margin-right: 4rem; }
  .skills__image {
    height: 12rem;
    width: 12rem; }

.portfolio {
  text-align: center; }
  .portfolio__title {
    margin-bottom: 5rem; }
  .portfolio__row {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 6rem 6rem;
    height: 60rem; }
  .portfolio__row-dark {
    background-color: #C6D8E9;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%); }
    .portfolio__row-dark:not(:first-child) {
      margin-top: -4rem; }
    .portfolio__row-dark:not(:last-child) {
      margin-bottom: -4rem; }
  .portfolio__image-box {
    flex: 0 0 50%; }
    .portfolio__image-box--dark {
      order: 2; }
  .portfolio__image {
    display: inline-block;
    width: 64rem;
    height: 36rem; }
  .portfolio__description {
    flex: 0 0 50%; }
    .portfolio__description-text {
      font-size: 1.6rem;
      text-align: left; }
      .portfolio__description-text--dark {
        text-align: right; }

.heading-1 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 9.6rem;
  text-shadow: 7px 5px 4px #a8a8a8; }

.heading-2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  column-gap: 1.5rem;
  margin-top: 1rem; }

.heading-3 {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 600; }

.heading-4 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600; }
