:root {
  --color-primary: #2AA9E2;
  --color-primary-light: #56CCF2;
  --color-primary-dark: #006B9C;
  --color-primary-grey: #9DC1F8;
  --color-grey-blue-1: #DFE8F1;
  --color-grey-blue-2: #DAE8F5;
  --color-grey-blue-3: #C6D8E9;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #4F4F4F;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-drop: 7px 5px 16px rgb(201, 201, 201);
  --shadow-small: 0 2px 6px rgba(0, 0, 0, 0.16);
  --font-primary: 'Montserrat', sans-serif;
  --font-display: 'Lobster', cursive;
  --line: 1px solid var(--color-grey-light-1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to bottom, #fff, #E3E3F2);
  background-attachment: fixed; }

::selection {
  background-color: var(--color-primary);
  color: var(--color-grey-light-1); }

.footer {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  background-color: var(--color-grey-dark-1);
  color: var(--color-grey-light-1);
  height: 16rem;
  padding-top: 8rem;
  text-align: center;
  font-size: 1.4rem; }
  .footer span {
    color: var(--color-grey-blue-1); }

.hr-text {
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px; }

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa; }

.navigation {
  background-color: #fff;
  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 600;
  padding: .8rem 8rem;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3; }
  .navigation__logo {
    height: 5rem;
    width: 5rem; }
  .navigation__menu {
    display: flex;
    list-style: none;
    text-transform: uppercase; }
    .navigation__menu-item {
      transition: all .2s;
      height: 100%; }
      .navigation__menu-item:hover {
        background-color: var(--color-primary-light); }
    .navigation__menu-item:not(:last-child) {
      margin-right: 5rem; }
  .navigation__social {
    display: flex;
    align-items: center;
    list-style: none; }
    .navigation__social-icon {
      height: 2.6rem;
      width: 2.6rem;
      fill: var(--color-grey-dark-2);
      transition: all .2s; }
      .navigation__social-icon:hover {
        fill: var(--color-primary); }
    .navigation__social-icon:not(:last-child) {
      margin-right: 2rem; }

.header {
  text-align: center;
  margin-top: 5rem; }
  .header__dev {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__dev-line {
      height: 1px;
      width: 26rem;
      margin-top: 1rem; }
      .header__dev-line--start {
        background-image: linear-gradient(to left, var(--color-grey-light-4), transparent);
        margin-right: 2rem; }
      .header__dev-line--end {
        margin-left: 2rem;
        background-image: linear-gradient(to right, var(--color-grey-light-4), transparent); }

.skills {
  width: 80%;
  margin: 9rem auto;
  display: flex;
  justify-content: space-between; }
  .skills__box {
    padding: 3rem 3rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--shadow-small);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .skills__box-description {
      font-size: 1.6rem;
      margin-top: 1.6rem;
      text-align: center;
      line-height: 2.2rem; }
  .skills__box:not(:last-child) {
    margin-right: 4rem; }
  .skills__image {
    height: 12rem;
    width: 12rem; }

.portfolio {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .portfolio__title {
    margin-bottom: 5rem; }
    .portfolio__title-underline {
      background-color: var(--color-primary);
      height: 5px;
      width: 10rem;
      margin-top: .75rem;
      margin-left: auto;
      margin-right: auto; }
  .portfolio__row {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 6rem 16rem;
    height: 60rem; }
    .portfolio__row:nth-child(even) {
      background-color: var(--color-grey-blue-2);
      clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%); }
      .portfolio__row:nth-child(even):not(:first-child) {
        margin-top: -4rem; }
      .portfolio__row:nth-child(even):not(:last-child) {
        margin-bottom: -4rem; }
      .portfolio__row:nth-child(even) > .portfolio__image-box {
        order: 2; }
  .portfolio__image-box {
    flex: 0 0 50%; }
  .portfolio__image {
    display: inline-block;
    width: 100%;
    height: auto; }
  .portfolio__description {
    flex: 0 0 50%;
    text-align: left;
    padding: 5rem; }
    .portfolio__description .heading-5 {
      margin-top: -1rem; }
    .portfolio__description-text {
      font-size: 1.6rem;
      line-height: 2rem;
      margin-top: 1.5rem; }

.heading-1 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 9.6rem;
  text-shadow: 7px 5px 4px #a8a8a8; }

.heading-2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  column-gap: 1.5rem;
  margin-top: 1rem; }

.heading-3 {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 600; }

.heading-4 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600; }

.heading-5 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-grey-dark-3); }
  .heading-5 span {
    color: var(--color-primary-grey);
    font-size: 2rem; }
