:root {
  //--color-primary: #1a9bd6;
  --color-primary: #2AA9E2;
  --color-primary-light: #56CCF2;
  --color-primary-dark: #006B9C;
  --color-primary-grey: #9DC1F8;
  --color-primary-grey-dark: #898D99;
  
  --color-grey-blue-1: #DFE8F1;
  --color-grey-blue-2: #DAE8F5;
  --color-grey-blue-3: #C6D8E9;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1 : #333;
  --color-grey-dark-2 : #4F4F4F;
  --color-grey-dark-3 : #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-drop: 7px 5px 16px rgb(201, 201, 201);
  --shadow-small: 0 2px 6px rgba(0, 0, 0, 0.16);
  --shadow-smaller: 0 2px 16px rgba(0, 0, 0, 0.05);


  --font-primary: 'Montserrat', sans-serif;
  --font-display: 'Lobster', cursive;

  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  //background-image: linear-gradient(to bottom, #FBFBFF, #E3E3F2);
  background-image: linear-gradient(to bottom, #fff, #E3E3F2);
  background-attachment: fixed;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
}