
  

///////////////////////////////////////
// "Développeur Web" inside a line */
.hr-text {
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}


//////////////////////////
// NAVIGATION
.navigation {
  background-color: #fff;
  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 600;
  padding: .8rem 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 5rem;
    width: 5rem;
  }

  &__menu {
    display: flex;

    list-style: none;
    text-transform: uppercase;

    &-item {
      transition: all .2s;
      height: 100%;

      &:hover {
        background-color: var(--color-primary-light);
      }
    }

    &-item:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    list-style: none;
    
    &-icon {
      height: 2.6rem;
      width: 2.6rem;
      fill: var(--color-grey-dark-2);
      transition: all .2s;

      &:hover {
        fill: var(--color-primary);
      }
    }
    
    &-icon:not(:last-child) {
      margin-right: 2rem;
    }
  }
}


//////////////////////////
// HEADER
.header {
  text-align: center;
  margin-top: 6rem;
}



//////////////////////////
// SKILLS
.skills {
  width: 75%;
  margin: 9rem auto;
  padding: 6rem 8rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--shadow-drop);
  
  display: flex;
  justify-content: space-between;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-description {
      font-size: 1.6rem;
      margin-top: 1.6rem;
      text-align: center;
    }
  }

  &__box:not(:last-child) {
    margin-right: 4rem;
  }

  &__image {
    height: 12rem;
    width: 12rem;
  }
}


.portfolio {
  text-align: center;

  &__title {
    margin-bottom: 5rem;
  }

  &__row {
    display: flex;
    justify-items: center;
    align-items: center;

    padding: 6rem 6rem;
    height: 60rem;
  }

  &__row-dark {
    background-color: #C6D8E9;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);

    &:not(:first-child) {
      margin-top: -4rem;
    }

    &:not(:last-child) {
      margin-bottom: -4rem;
    }


  }

  &__row-light {
    

  }

  &__image-box {
    flex: 0 0 50%;

    &--dark {
      order: 2;
    }
  }



  &__image {
    display: inline-block;
    width: 64rem;
    height: 36rem;
  }

  &__description {
    flex: 0 0 50%;

    &-text {
      font-size: 1.6rem;
      text-align: left;

      &--dark {
        text-align: right;
      }
    }
  }
}