//////////////////////////
// NAVIGATION
.navigation {
  background-color: #fff;
  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 600;
  //padding: .8rem 8rem;
  border-bottom: var(--line);
  box-shadow: var(--shadow-smaller);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 3;

  &__logo {
    height: 4.6rem;
    width: auto;
    margin: .8rem 0 .8rem 3rem;
    
    &:hover {
      fill: #C6D8E9;
    }
  }

  &__menu {
    display: flex;
    align-self: stretch;
    list-style: none;
    text-transform: uppercase;
    
    &-item {
      display: flex;
      align-items: center;
      transition: all .2s;
      padding: 0 2rem;
      height: 100%;

      &:hover {
        //background-color: var(--color-primary-light);
        background-color: var(--color-grey-blue-2);

        cursor: pointer;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;

    list-style: none;
    margin-right: 3rem;

    &-link:not(:last-child) {
      margin-right: 2rem;
    }

    &-icon {
      height: 2.6rem;
      width: 2.6rem;
      fill: var(--color-grey-dark-2);
      transition: all .2s;


      &:hover {
        fill: var(--color-primary);
        cursor: pointer;
      }
    }
    

  }
}



//////////////////////////
// HEADER
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22rem;
  
  &__heading {
    font-family: var(--font-display);
    font-weight: 400;
    text-shadow: 7px 5px 4px rgb(168, 168, 168);
    font-size: 10rem;
  }
  
  &__dev {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;

    
    &-line {
      //background-color: var(--color-grey-dark-3);
      height: 1px;
      width: 26rem;
      margin-top: 1rem;
      
      &--start {
        background-image: linear-gradient(to left, var(--color-grey-light-4), transparent);
        margin-right: 2rem;
      }
      
      &--end {
        margin-left: 2rem;
        background-image: linear-gradient(to right, var(--color-grey-light-4), transparent);
      }
    }
  }
}



//////////////////////////
// SKILLS
.skills {
  width: 80%;
  margin: 19rem auto;
  margin-top: 22rem;
  font-size: 1.6rem;

  display: flex;
  justify-content: space-between;

  &__box {
    padding: 2.6rem 4rem 3.5rem 4rem;
    width: 30%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--shadow-drop);

    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      height: 12rem;
      width: 12rem;
      margin-bottom: 1rem;
    }

    &-heading {
      text-align: center;
    }

    &-description {
      font-size: 1.6rem;
      margin-top: 1.6rem;
      text-align: center;
      line-height: 2.2rem;
    }
  }

  &__box:not(:last-child) {
    margin-right: 6rem;
  }
}



//////////////////////////
// PORTFOLIO
.portfolio {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__title {
    margin-bottom: 5rem;
    
    &-underline {
      
      background-color: var(--color-primary);
      height: 5px;
      width: 10rem;
      margin-top: .75rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15rem 16rem;
    //height: 60rem;

    &:nth-child(even) { // to alternate rows colors and have different shape
      background-color: var(--color-grey-blue-2); //--color-grey-blue-2
      clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
  
      &:not(:first-child) {
        margin-top: -3.8rem;
      }
  
      &:not(:last-child) {
        margin-bottom: -3.8rem;
      }

      & > .portfolio__image-box { // change flex order to have blue rows images on the right side
        order: 2;
      }
    }

    &:nth-child(odd) {
      background-color: #fff;
    }
  }

  &__image-box {
    flex: 0 0 60%;
    width: 100%;
    justify-content: center;
    position: relative;
    cursor: pointer;
    //overflow: hidden;
  }

  &__image {
    display: inline-block;
    width: 80%;
    height: auto;
    transition: all .2s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__description {
    flex: 0 0 40%;
    justify-content: center;
    text-align: left;
    padding: 5rem;

    .heading-5 {
      margin-top: -1rem;
    }

    &-text {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-top: 1.5rem;
    }
  }

  &__technologies {
    margin-top: 3rem;
    list-style: none;

    display: flex;
    justify-content: left;


    &-item {
      
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &-icon {
      height: 2.8rem;
      width: 2.8rem;
      //fill: red;

      &--npm {
        fill: #d00b1f;
      }
    }
  }
}

.btn-box {
  margin-top: 3rem;

  display: flex;
  justify-content: left;

  &__link {
    &:not(:last-child) {
      margin-right: .8rem;
    }
  }

  &__btn {
    background-color: var(--color-primary-grey-dark); // var(--color-grey-blue-5)
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.2rem 3rem;
    cursor: pointer;
    transition: all .2s;

    //align-self: center;
  
    &:hover {
      background-color: var(--color-grey-blue-5);
    }

    &:not(:last-child) {
      //margin-right: .8rem;
    }
  }
}

.contact {
  background-color: #fff;
  padding-top: 8rem;
  padding-bottom: 12rem;

  display: flex;
  justify-content: center;
}



//////////////////////////
// SCROLL TO TOP BUTTON
.to-top {
  background-color: var(--color-primary);
  border: none;
  padding: .6rem;
  cursor: pointer;
  position: absolute;
  top: -2.5rem;
  transition: all .2s;
  
  &__btn {
    height: 3rem;
    width: 3rem;
    fill: #fff;
  }

  &:hover {
    background-color: var(--color-primary-light);
    transform: translateY(-3px);
    box-shadow: var(--shadow-small);
  }

  &:active,
  &:focus {
    outline: none; // to also apply to a <button>
    transform: translateY(-1px);
    box-shadow: var(--shadow-smaller);
  }
}


