.navigation {
  background-color: #fff;
  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 600;
  padding: .8rem 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 5rem;
    width: 5rem;
  }

  &__menu {
    display: flex;

    list-style: none;
    text-transform: uppercase;

    &-item {
      transition: all .2s;
      height: 100%;

      &:hover {
        background-color: var(--color-primary-light);
      }
    }

    &-item:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    list-style: none;

    &-item:not(:last-child) {
      margin-right: 2rem;
    }

    &-icon {
      height: 2.6rem;
      width: 2.6rem;
      fill: var(--color-grey-dark-2);
      transition: all .2s;

      &:hover {
        fill: var(--color-primary);
      }
    }
  }
}

.header {
  text-align: center;
  margin-top: 6rem;

  &__heading-2 {

  }
}