.heading-2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;

  //grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  //align-items: center;
  margin-top: 1rem;
}

.heading-3 {
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: 600;
}

.heading-4 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
}

.heading-5 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-grey-dark-3);

  span {
    color: var(--color-primary-grey);
    font-size: 2rem;
  }
}




